* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;

  background: linear-gradient(70deg, white, blue, rgb(22, 22, 175));

  align-items: center;
}

.hero-container {
  min-height: 100vh;
}

.left-container {
  height: auto;
}

.movie-search-container {
  width: 100%;
  height: auto;
  border: 1px solid black;

  backdrop-filter: blur(5px);
  box-shadow: 10px 10px 20px rgba(15, 19, 231, 0.699);
}

.desc {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
.search-btn {
  margin-left: 33%;
  background: radial-gradient(blue, rgb(200, 10, 238));
}
.search-btn:hover {
  transform: scale(1.2);
  margin-top: 5px;
  transition: linear 0.5s;
  box-shadow: 5px 5px 5px rgba(48, 252, 2, 0.932);
}

.btn-drama {
  background: linear-gradient(#8a2be2, rgb(224, 224, 11));
  color: black;
}
.btn-action {
  background: linear-gradient(#1e90ff, #47b9ee);
  color: black;
}
/* card  */
.movie-card-item {
  background: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(5px);
  max-width: 500px;
}
.movie-card-item img {
  width: 100%;
  height: auto;
  transform-origin: center center; /* Ensures scaling happens from the center */
  transition: transform 1s ease-in-out, filter 1s ease-in-out; /* Apply transition to both transform and filter */
}

.right-container {
  position: relative;
}

.modern-tv {
  width: 100%;
  background: #000; /* TV frame color */
  border-radius: 10px; /* Slight rounding for a modern look */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7); /* Shadow for depth */
  position: relative;
}

.tv-screen {
  width: 100%;
  height: 300px;
  background: #64616162; /* Placeholder background */
  border-radius: 10px; /* Match the TV's rounded corners */
  overflow: hidden;
  position: relative;
}

.tv-screen iframe {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes video fill the screen without distortion */
}
.text-center {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 20%;
}

.tv-stand {
  width: 150px;
  height: 20px;
  background: #1b067a;
  border-radius: 5px;
  margin: 10px auto 0;
  position: relative;
}
.line {
  width: 100%;
  border: 1px solid black;
}
.sub-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* image slider  */
.trending-movies-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background: linear-gradient(rgb(14, 14, 151), white); /* Add some contrast */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(71, 8, 245, 0.774);
}

.slider-item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slick-dots {
  bottom: -20px;
}

.slick-dots li button:before {
  color: rgb(17, 17, 17); /* Color of the dots */
}

.slick-arrow {
  z-index: 10;
}
.display-container {
  background: linear-gradient(blue, white);
}
.footer-section {
  height: auto;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: linear-gradient(135deg, #b6e703, #1a0cdf, rgb(10, 25, 240)); */
  background: linear-gradient(25deg, #1a0cdf, #b6e703, #0d253f);

  color: white;
}
.logo-container {
  color: white;
  margin-right: 5px;
}
.title {
  font-size: 58px;

  text-shadow: 5px 4px 4px #92d415d2;

  color: rgba(6, 6, 99, 0.986);
  font-weight: bold;
}

.tmdb-content {
  font-size: 14px;
  color: black;
}
.tmdb-content a {
  color: white;

  font-size: 18px;
  text-decoration: none;
}

.tmdb-content a:hover {
  text-decoration: underline;
}

/* For screens below 768px */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column; /* Stack content vertically */
  }

  .right-container,
  .left-container,
  .display-list {
    width: 100%; /* Full width for smaller screens */
  }

  .display-list {
    margin-top: 10px; /* Add spacing between sections */
  }
  .movie-card-item img {
    max-height: 220px;
    object-fit: cover;
  }
}

.showMovie {
  transform: scale(1);
  animation: zoom 0.5s;
}
